@use "../../styles/partials/mixins" as *;

.settings {
  padding: 3rem 2rem;

  @include media-tablet {
    padding: 3rem 4rem;
  }

 
  @include media-desktop {
    display: flex;
    justify-content: space-between;
    padding: 10rem 20rem;

  }

  &__title {
    font-size: 1.4rem;
    padding-bottom: 0.4rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  &__subtitle {
    font-size: 1rem;
    color: #9b9b9b;
  }

  &__basic {
    padding: 2rem 0;

    @include media-desktop {
      width: 45%;    }
   
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 4.5rem;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
    color: white;
    margin-bottom: 1.5rem;

    &--left {
      display: flex;
      align-items: center;
    }

    &--counter {
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      border-radius: 20rem;
      height: 2.5rem;
      width: 2.5rem;
      color: black;
      margin-right: 1rem;
    }
  }
}
.settings-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../assets/images/profile-header-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 25rem;
  padding: 3rem 2rem 5rem 2rem;
  justify-content: flex-end;

  @include media-tablet {
    padding: 3rem 4rem 5rem 4rem;
  }
}

.settings-heading {
  margin-top: 5rem;
  text-align: center;
  font-size: 2.6rem;
  line-height: 4rem;
  color: #ffffff;

  @include media-tablet {
    font-size: 3.6rem;
    line-height: 4.8rem;
    margin-top: 10rem;
  }
}
