@use "../../../styles/partials/mixins" as *;

.intro {
  display: flex;
  flex-direction: column;

  &__icons {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../../../assets/images/hero-default.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 25rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    @include media-tablet {
      padding: 4rem 4rem;
    }
  }

  &__icons-col {
    display: flex;
  }

  &__icon {
    width: 2.5rem;

    @include media-tablet {
      width: 3.5rem;
    }

    &--first {
      margin-right: 2rem;
    }
  }

  &__details {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -8rem;

    @include media-tablet {
      flex-direction: row;
      margin-top: 0rem;
      padding: 0 5rem 2rem 5rem;
    }

    @include media-desktop {
      padding: 0 20rem 2rem 20rem;
    }
  }

  &__profileimg {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 6px solid black;
    margin-bottom: 1rem;
    object-fit: cover;

    @include media-tablet {
      margin-top: -7rem;
      width: 25rem;
      height: 25rem;
      border: 12px solid black;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-tablet {
      align-items: flex-start;
      margin-left: 5rem;
      padding-top: 2rem;
      position: relative;
    }
  }

  &__name {
    font-size: 2rem;

    @include media-tablet {
      font-size: 3rem;
    }
  }

  &__bio {
    padding-top: 1rem;
    font-size: 1.2rem;
    text-align: center;

    @include media-tablet {
      text-align: left;
    }
  }

  &__socials {
    display: flex;
    justify-content: center;
    padding: 1.5rem 3rem;
    width: 100%;

    @include media-tablet {
      display: none;
    }
    &--tab {
      display: none;

      @include media-tablet {
        display: flex;
        padding-bottom: 4rem;
        position: absolute;
        right: 5rem;
        top: 20rem;
      }
@include media-desktop {
  right: 20rem;
}

    }
  }

  &__social-container {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 3rem;
    width: 3rem;
    border-radius: 0.5rem;
    margin: 0 0.5rem;
  }

  &__social-icon {
    width: 1.5rem;

    &--facebook {
      width: 0.8rem;
    }
  }
}
