.intro {
  display: flex;
  flex-direction: column;

  &__icons {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../../../assets/images/hero-default.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 25rem;
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  &__icons-col {
    display: flex;
  }

  &__icon {
    width: 2.5rem;
    &--first {
      width: 2.5rem;
      margin-right: 2rem;
    }
  }

  &__details {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -8rem;
  }

  &__profileimg {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 6px solid black;
    margin-bottom: 1rem;
  }

  &__name {
    font-size: 2rem;
  }

  &__bio {
    padding-top: 1rem;
    font-size: 1.2rem;
    text-align: center;
  }

  &__socials {
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem 3rem;
    width: 100%;
  }

  &__social-container {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 3rem;
    width: 3rem;
    border-radius: 0.5rem;
  }

  &__social-icon {
    width: 1.5rem;

    &--facebook {
      width: 0.8rem;
    }
  }
}
