@use "./partials/resets" as *;
@use "./partials/mixins" as *;
@use "./partials/fonts" as *;

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  margin: 0;
  width: 13rem;
  border: 0;
  border-radius: 10px;
}

.primary-button {
  padding: 1rem 1.5rem;
  background-color: #1a120b;
  color: #ffffff;
  width: 13rem;
  justify-content: center;
}

.secondary-button {
  display: flex;
  color: #1a120b;
}

a {
  text-decoration: none;
}

.input--error {
  border: 1px solid #c94515 !important;
}

.form-error {
  color: #c94515;
  margin: 0;
  padding-bottom: 2.5rem;
}
